# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = Collector_Spider.settings

[deploy:local]
url = http://localhost:6800/
#username = hong
#password = hong
project = Collector_Spider
